body {
	padding: 0;
	margin: 0;
	font-family: "Nunito", sans-serif;
	background-color: #f9f9f9;
}

#ProfilePage {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row-reverse;
	/* background-color: #f9f9f9; */
	margin-right: 30px;
	margin-left: 30px;
}

#LeftSideContent {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 75%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	margin-left: 0;
	/* padding-top: 20px; */
	/* margin-top: 100px; */
	margin-right: 40px;
}

#Info {
	display: flex;
	justify-content: center;
	/* align-items: center; */

	padding: 40px 24px 40px 24px;
	/* margin-bottom: 20px; */
	position: relative;
}

.firstline {
	background-color: #1e88e5;
	padding-top: 5px;
	padding-bottom: 5px;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	color: white;
	margin-right: 10px;
	font-weight: 400;
	display: flex;
	justify-content: center;
	align-items: center;
}

#secondline {
	background-color: #ffaa71;
	color: white;
	border: none;
	border-radius: 5px;
	width: 310px;
	height: 60px;
	font-weight: 400;

	margin-top: 15px;
	font-size: 25px;
}

#buttons {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin-top: 190px;
}

#buttons img {
	width: 20%;
	margin-right: 10px;
}

#BaseInfo h3 {
	font-weight: 300;
	margin: 0;
	/* color: #333; */
}

#BaseInfo p {
	font-size: 40px;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 5px;
}

#Firstpart {
	margin-bottom: 20px;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: flex-start;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	/* margin-left: 30px; */
	margin-top: 20px;
}

/* #Firstpart img {
	width: 10%;
} */

#Money {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	margin-top: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	background-color: white;
	/* margin-left: 30px; */
	padding-top: 20px;
	padding-bottom: 20px;
}

.blue {
	color: #1e88e5;
	font-weight: 600;
	margin-bottom: 0;
	margin-top: 0;
}

/* #Money h3 {
	font-weight: 300;
} */

#BaseInfo {
	width: 40%;
	margin-left: 20px;
}

#ProfilePic {
	width: 200px;
	height: 200px;
	object-fit: cover;
	margin-left: 20px;
	margin-top: 60px;
}

#Part {
	margin-top: 20px;
	font-size: 15px;
}

#g {
	font-weight: 100;
}

#a {
	padding-left: 150px;
}

#Part1 h3 {
	font-weight: 600;
	font-size: 25px;
}

.black h3 {
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 10px;
}

.blue h3 {
	margin-bottom: 0;
	margin-top: 10px;
}

.black2 h3 {
	margin-bottom: 0;
	margin-top: 10px;
	font-weight: 400;
}

#RightSideContent h1 {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	color: #474747;
	padding-left: 20%;
	/* max-resolution: top 0; */
	/* margin-bottom: 10px; */
}

#RightSideContent {
	width: 25%;
	/* height: 100vh; */
	background-color: white;
	margin-top: 135px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	/* padding-top: 20px; */
	/* padding-left: 15%; */
	/* overflow: scroll; */
}

#blue2 {
	color: #1e88e5;
	font-weight: 600;
	/* font-size: 15px; */
}

#RightSideContent h3 {
	font-size: 20px;
	font-weight: 300;
	margin-bottom: 0;
	margin-top: 0;
}

.notspace {
	font-weight: 300;
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 0;
}

#Infos2 img {
	width: 12px;
	margin-bottom: 5px;
	margin-right: 10px;
}

.flex {
	display: flex;
	align-items: center;
}

#Infos2 {
	margin-top: 15px;
}

#Infos h3 {
	font-weight: 600;
	font-size: 15px;
}

.flex span {
	margin-right: 5px;
}

.Picture {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	object-fit: cover;
	position: absolute;
	top: 3px;
	right: 35px;
}

#InfoContainer {
	position: relative;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#InfoContainer:hover {
	background-color: rgba(16, 124, 205, 0.05);
	cursor: pointer;
	transition: 0.3s all;
}

#PDFFile embed{
	width: 100%;
	height: 800px;
}