body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#SearchBar {
    padding: 15px 0px 15px 16px;
    display: flex;
    justify-content: center;
}

#img {
    width: 114.75px;
    height: 44px;
    padding-right: 50px;
}

#SearchBox {
    width: 784.5px;
    height: 44px;
    background: rgb(242, 242, 242);
    display: flex;
    align-items: center;
    border-radius: 2px 4px 4px 2px;
    border: 1px solid transparent;
    margin-right: 15px;
}

#SearchBox:hover {
    border: 1px solid #5bbc2e;
}

#magnifier {
    height: 18.8px;
    width: 20px;
    margin-left: 10px;
}

#box {
    display: flex;
}

#word {
    padding: 5.25px 10.5px;
    width: 448.11px;
    background-color: #f2f2f2;
    border-style: none solid none none;
    border-width: 1px;
    border-color: #999;
    font-size: 14px;
}

#word:hover {
    border-style: none solid none none;
    border-width: 1px;
    border-color: #999;
}

#location {
    width: 12.3px;
    height: 15px;
    margin: 0px 10px 0px 15px;
}

.dropbtn {
    background-color: #f2f2f2;
    color: #212529;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    padding: 15px 15px 0px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-style: none none solid none;
    border-width: 1px;
}

.dropdown-content a:hover {
    background-color: #f2f2f2;
    color: #5bbc2e;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f2f2f2;
}

#input-item {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    padding: 10px 30px 10px 35px;
}

#magnifier2 {
    height: 16px;
    width: 16px;
}

#text {
    border: none;
    background-color: #f2f2f2;
}

#button {
    height: 44px;
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5bbc2e;
    border: none;
    margin-left: 146px;
}

#magnifier3 {
    width: 20px;
    height: 20px;
}

.dropdownbtn {
    background-color: #ffffff;
    color: #212529;
    font-size: 14px;
    border: none;
    cursor: pointer;
    height: 42px;
    border: 1px solid #f2f2f2;
    width: 200px;
}

.dropdown2 {
    position: relative;
    display: inline-block;
}

.content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 368px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    padding: 15px 15px 0px;
}

.content a {
    color: #555555;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
}

.content button {
    background-color: #fff;
    border: 1px solid #999;
}

.dropdown2:hover .content {
    display: block;
}

#title {
    padding: 0px 0px 21px 25px;
    border-style: none none solid none;
    border-width: 1px;
    border-color: #999999;
}

.link {
    display: flex;
    justify-content: flex-start;
}

.link button {
    width: 156px;
    height: 37px;
    /* padding: 5px 0px 5px 15px; */
    background-color: white;
    font-size: 14px;
    margin-right: 20px;
}

#a {
    border-style: none none solid none;
    border-width: 1px;
    border-color: #999999;
}

.inside {
    padding: 12px 25px;
    font-size: 14px;
    color: #333333;
}

.topnav {
    overflow: hidden;
    background-color: white;
    border-style: none none solid none;
    border-color: #e8e8e8;
    border-width: 1px;}

.topnav a {
    float: left;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: white;
    color: #5bbc2e;
}

.topnav a.active {
    background-color: white;
    color: #5bbc2e;
    border-style: none none solid none;
    border-width: 2px;
}

#main-content {
    background-color: #fafafa;
    height: 100%;
}

#filterbox {
    margin: 0px 16px 10px;
    border: 1px solid rgb(238, 238, 238);
}

#headingsection {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
}

.ad {
    padding: 12px;
    margin-top: -35px;
}

.newitem {
    height: 283px;
    width: 20%;
    background-color: #ffffff;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    transition: box-shadow .3s;
    margin-right: 10px;
}

.jobimg {
    width: 100%;
    height: 100px;
}

.titlea {
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.titlea:hover {
    color: #5bbc2e;
    text-decoration: none;
}

.salary {
    color: #5bbc2e;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 2px;
}

.salary:hover {
    color: #5bbc2e;
    text-decoration: none;
}

.margin {
    margin: 2px 0px;
}

.space {
    margin-bottom: 2px;
}

#body1 {
    width: 75%;
    margin-top: 10px;
}

#selector {
    background: #fff;
    margin-bottom: 10px;
    padding-left: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    width: 78.5%;
    height: 69px;
    margin-left: 158px;
    justify-content: space-between;
    margin-bottom: 10px;
}

.dropdown-toggle2 {
    background-color: white;
    color: #333333;
    padding: 13px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.drop {
    position: relative;
    display: inline-block;
}

.menu {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px 10px;
}

.menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
background-color: #f1f1f1;
color: #5bbc2e;
}

.drop:hover .menu {
    display: block;
}

.drop:hover .dropdown-toggle2 {
    background-color: #fff;
    color: #5bbc2e;
}

.proa {
border-style: none none solid none;
border-width: 1px;
border-color: #999;
}

.sapxep {
    display: flex;
    justify-content: flex-start;
}

#main-body {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.job {
    width: 80%;
    height: 184.5px;
    border: 1px solid #5bbc2e;
    display: flex;
    flex-direction: row;
    margin-left: 158px;
}

.anhcv {
    height: 184.5px;
    width: 132.91px;
    border-style: none solid solid none;
    border-width: 1px;
    border-color: #5bbc2e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jobIMG {
    width: 110px;
    height: 52.73px;
    padding: 0px 20px;
}

.job-info {
    padding: 15px 15px 15px 20px;
    background-color: #f5fcff;
    width: 100%;
}

.job-info a {
    text-decoration: none;
}

.money {
    color: #5bbc2e;
}

.job-info a:hover {
    color: #5bbc2e;
}

.titel {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locate {
    margin: 0px;
    font-size: 13px;
    color: #333;
    font-weight: bold;
}

.locate:hover {
    color: #5bbc2e;
}

.location {
    margin-top: 5px;
    margin-bottom: 10px;
}

#body2 {
    margin-left: -25px;
    margin-top: 10px;
}

#ad {
    width: 259.5px;
    height: 294.64px;
    border: 1px solid #e0e0e0;
    padding: 15px 0px 12px;
    text-align: center;
}

#banner {
    width: 99%;
}

.px {
    margin-top: 10px;
}

#up {
    margin-top: -30px;
}

#change {
    margin-top: 10px;
    text-decoration: none;
    font-size: 12.25px;
    color: #5bbc2e;
}

#change:hover {
    color: #5bbc2e;
}

.means {
    display: flex;
    justify-content: flex-start;
}

.icon {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.used {
    margin-right: 10px;
}

#footer {
    display: flex;
    justify-content: flex-start;
}

#uv {
    width: 33%;
    margin-left: 10px;
}

#dt {
    width: 33%;
    margin-left: 10px;
}

#kn {
    width: 34%;
    margin-left: 10px;
}

.y {
    color: #767676;
    margin-bottom: -10px;
    font-size: 14px;
    text-decoration: none;
}

.y:hover {
    color: #5bbc2e;
}


.finale {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    color: #333;
}

.position {
    width: 40%;
    height: 60px;
    box-shadow: 0 1px 1px 0 rgba(170,170,170,0.5);
}

.avatar {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 30px;
    margin-bottom: 0px;
    background-size: contain;
}

#blanca {
    width: 142.55px;
    height: 63px;
}

#casa {
    position: relative;
    display: flex;
    justify-content: center;
    bottom: 30px;
}