#all {
    font-family: Arial, Helvetica, sans-serif;
}

.IMG {
    height: 25px;
    padding-right: 5px;
    padding-left: 20px;
}

#header {
    background-color: #489C22;;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
}

.banner {
    color: #a7b1c2;
    font-size: 16px;
    padding: 14px 25px 14px 0px;
    text-decoration: none;
}

.banner:hover {
    background-color: #489C22;
    color: #fff;
    border-style: none none solid none;
    border-width: 1px;
    border-color: yellow;
    text-decoration: none;
}

.button {
    border-style: solid;
    border-width: 1px;
    background-color: #489C22;
    border-color: #fff;
    border-radius: 5px;
    color: #fff;
}

#anh {
    height: 40px;
    padding: 10px;
}

#wrap{
    background-color: #f6f6f6;
    padding: 40px 20px;
}

#body {
    background-color: #fff;
    padding: 20px 35px;
    background: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 2px;
}

.suitcase {
    width: 25px;
}

.fullimg {
    background-color: #489C22;
    color: #fff;
    border-radius: 50%;
    width: 40px;
    background-size: contain;
    margin-right: 10px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.head {
    color: #333;
    font-size: 24px;
    margin: 20px 35px 15px;
    font-weight: 100;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.jobinfo {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px;
}

.para {
    width: 25%;
    font-weight: bold;
    margin-right: 30px;
    text-align: right;
}

.menu {
    width: 800px;
    height: 34px;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
}

.price {
    width: 300px;
    height: 34px;
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    margin-right: 15px;
}

#tien {
    display: flex;
    flex-direction: row;
}

.dropdown-item {
    color: #999;
    width: 100%;
}

.input {
    height: 34px;
    width: 800px;
}

.under {
    color: #888;
    font-size: 11.9px;
}

.location {
    display: flex;
    flex-direction: column;
}

#locate {
    color: #c9c9c9;
    border: 1px dashed;
    margin: 5px 0px;
    padding-left: 300px;
}

.paragraph {
    margin-bottom: -5px;
    font-style: italic;
    color: #999;
}

.job-title {
    margin-bottom: -5px;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.upload {
    border-style: solid;
    border-width: 1px;
    border-color:  #c2c2c2;
    border-radius: 3px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 15px 5px 0px;
    margin-bottom: 10px;
    font-size: 14px;
}

.upload img {
    height: 14px;
}

.upload:hover {
    background-color: #c2c2c2;
    color: #fff;
}

.upload img {
    width: 18px;
}

#money {
    margin-bottom: 10px;
}

.text {
    display: flex;
    justify-content: space-between;
    font-size: 11.9px;
    margin-top: 5px;
}

#addition {
    color: #489C22;
    font-size: 14px;
    margin: 5px 0px 10px;
}

#note {
    margin-bottom: 0px;
}

.same {
    font-size: 14px;
    color: #888888;
}


.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background: #ffffff !important;
    color: #333333;
}

.dashed {
    border-top: 1px dashed #e5e6e7;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}

.word {
    margin: 5px 0px 10px;
}

#benefit {
    width: 420px;
}

#fixed-bar {
    position: fixed;
    height: 52px;
    z-index: 2002;
    width: 100%;
    background-color: #fff;
    padding: 12px 0px 0px;
    text-align: center; 
    bottom: 0;
    box-shadow: 0 -2px 5px 0 #ccc;
}

#save {
    background-color: #c2c2c2;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    margin-right: 10px;
    height: 90%;
    min-width: 120px;
}

#secondsave {
    background-color: #489C22;
    border: 1px solid transparent;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    height: 90%;
    min-width: 120px;
}

#caution {
    width: 15px;
}

#congty {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin-bottom: -10px;
}

.item {
    width: 800px;
}

.start {
    width: 300px;
}

#checkbox1 {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}